.title-component {
  width: fit-content;

  &__main-title {
    font-size: 60px;
    line-height: 78px;
    background-image: linear-gradient(90deg, #d53369 0%, #daae51 100%);
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__main-subtitle {
    max-width: 720px;
  }
}
